<div class="secret_token_button">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#secretModal">
    Generate Secret Tokens
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="secretModal" tabindex="-1" role="dialog" aria-labelledby="secretModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="secretModalLabel">Generate Token</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_tag(generate_codes_path, {:method => :post, :id => 'frmSecret'}) do %>
          <div class="form-group">
            <label for="secretNumber">Select Number:</label>
            <%= select_tag "secret_code[secret_number]", options_for_select([[1,1],[10,10],[20,20],[50,50],[100,100]], [10,10]), class: 'form-control', "aria-describedby": "secretHelp" %>
            <small id="secretHelp" class="form-text text-muted">Select number of token you want to generate.</small>
          </div>
        <% end %>

        <!-- <form id='frmSecret' >
          <div class="form-group">
            <label for="secretNumber">Select Number:</label>
            <select ng-model='discussionsSelect' class='form-control' id='secretNumber' aria-describedby="secretHelp">
              <option value='1'>1</option>
              <option value='10' selected>10</option>
              <option value='20'>20</option>
              <option value='50'>50</option>
              <option value='100'>100</option>
            </select>
            <small id="secretHelp" class="form-text text-muted">Select number of token you want to generate.</small>
          </div>
          <button type="submit" class="btn btn-primary" style="display: none;">Submit</button>
        </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save">Generate</button>
      </div>
    </div>
  </div>
</div>